<!DOCTYPE html>
<html>

<head>
    <title>Unit 2 User Login</title>
    <style type="text/css">
        span{
            width: 150px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Login</h1>
    <form method="post">
        <span>Username</span>
        <input type="text" name="username" value="{{ username }}">
        <br>
        <span>Password</span>
        <input type="password" name="password" value="">
        <br>
        <span style="color: red">{{ msg }}</span>
        <br>
        <input type="submit">
    </form>
</body>

</html>
