<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IT Backend Blog</title>
</head>

<style>

	body{
		font-family: sans-serif;
		width: 1200px;
		margin: 0 auto;
		padding: 10px;
	}

	h1 {
		text-align: center;
		margin-bottom: 15px;
	}
	
	h3 {
		display: inline-block;
		margin-bottom: 0px;
		width: 500px;
	}

	span {
		margin-left: 600px;
	}

	hr {
		margin-top: -2px;
		height: 3px;
	}

	pre {
		display: block;
		margin: auto;
		width: 1000px;
		text-align: justify;
	}

</style>

<body>

	<h1>IT Backend Blog</h1>
	{% for post in posts %}
	<h3>{{ post.subject }}</h3>
	<span>{{ post.created }}</span>
	<hr>
	<pre>{{ post.content }}</pre>
	{% endfor %}

</body>
</html>